<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="2.3.1" targetFramework="win" />
  <package id="jQuery" version="2.0.2" targetFramework="win" />
  <package id="underscore.js" version="1.5.1" targetFramework="win" />
  <package id="underscore.TypeScript.DefinitelyTyped" version="0.1.5" targetFramework="win" />
</packages>